Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/sA_Megapack_v1/
Content/MegaMagicVFXBundle/
Content/RPGEffects/
Content/M5VFXVOL2/
Content/InfinityBladeWeapons/
Content/Realistic_Starter_VFX_Pack_Vol2/
